<!DOCTYPE html>
<html xlns:th="http://www.thymeleaf.org" xmlns:xlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <!--<link href="css/bootstrap.min.css" rel="stylesheet"/>-->
    <title>QuizMarker-Home</title>
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
    <div th:replace="~{fragments/header :: header}">Header</div>
    <div class="container" align="center">
        <div class="offset-col-md-2 col-md-8">
            <h1>Welcome to QuizMarker</h1>
            <div th:if="${username !=null}">
                <h2 th:text="${username}"></h2>
                <h3 th:text="${db}"></h3>
                <a href="/tenant/courses">View my courses</a>
            </div>

            <a href="/secure/users/">View all users</a>

        </div>
    </div>
    <div th:insert="~{fragments/footer :: footer}">&copy; 2020 QuizMarker</div>

</body>
</html>